- name: copy supervisord boot file
  template: 
    src: '{{supervisor_boot_file}}'
    dest: '/usr/lib/systemd/system/{{supervisor_prog_name}}.service'
    owner: '{{ supervisor_run_user }}'
    group: '{{ supervisor_run_user }}'
    mode: "0644"
    backup: yes
  notify: 
    - systemd_daemon_reload

- name: systemd start supervisord
  systemd: 
    daemon_reload: yes 
    name: '{{supervisor_prog_name}}'
    state: started
    enabled: yes
