[Unit]
Description=Process Monitoring and Control Daemon
After=rc-local.service nss-user-lookup.target

[Service]
Type=forking
ExecStart=/usr/bin/supervisord -c {{supervisor_prim_conf}}

[Install]
WantedBy=multi-user.target
