aniso8601==9.0.1
ansible==4.10.0
ansible-core==2.11.12
ansible-runner==2.3.1
cffi==1.15.1
click==8.0.4
cryptography==39.0.0
dataclasses==0.8
docutils==0.18.1
Flask==2.0.3
Flask-RESTful==0.3.9
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
lockfile==0.12.2
MarkupSafe==2.0.1
netaddr==0.8.0
notario==0.0.16
packaging==21.3
pexpect==4.8.0
psutil==5.9.4
ptyprocess==0.7.0
pycparser==2.21
pyOpenSSL==23.0.0
pyparsing==3.0.9
python-daemon==2.3.2
pytz==2022.7
PyYAML==6.0
resolvelib==0.5.4
six==1.16.0
typing_extensions==4.1.1
uWSGI==2.0.21
Werkzeug==2.0.3
zipp==3.6.0
