[Unit]
Description=Initialise the Linux realserver 
After=syslog.target network.target

[Service]
Type=oneshot
ExecStartPre=/etc/init.d/realserver stop
ExecStart=/etc/init.d/realserver start
ExecStop=/etc/init.d/realserver stop
ExecStartPost=/etc/init.d/realserver status
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
