# editor: haifengsss@163.com
# update date: 2020/06/23

- import_tasks: create_logstash_user.yml
  tags:
    - create_logstash_user

- import_tasks: create_logstash_dir.yml 
  tags:
    - create_logstash_dir

- import_tasks: install_logstash.yml
  tags:
    - install_logstash

- import_tasks: copy_logstash_settings.yml
  tags:
    - copy_logstash_settings

- import_tasks: copy_logstash_pipeline_conf.yml
  tags:
    - copy_logstash_pipeline_conf

- import_tasks: logstash_boot.yml
  tags:
    - logstash_boot
