- name: create tomcat user
  user: 
    name: '{{ tomcat_run_user }}' 
    state: present 
    system: 'no'
  when: 
    - tomcat_run_user is not none 
    - tomcat_run_user != ''
    - tomcat_run_user != 'root'
