# The number of milliseconds of each tick
tickTime=10000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
dataDir={{zookeeper_data_dir}}
# the port at which the clients will connect
clientPort={{zookeeper_run_port}}
# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns=300
{% for host in ansible_play_hosts_all %}
server.{{ hostvars[host]['zookeeper_id']}}={{hostvars[host]['ansible_default_ipv4']['address']}}:2888:3888
{% endfor %}
#
#server.1=172.16.9.119:2888:3888
#server.2=172.16.9.120:2888:3888
#server.3=172.16.9.121:2888:3888
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
